@mixin display{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@mixin centrer_element {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@mixin responsive_tablette {
    @media (min-width: 500px) {
        @content;
    }
}
@mixin button-hover {
    opacity: 0.7;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}
